link(rel='stylesheet', href='/css/mail.css')

div.container
  for entry in entries
    div.header.clearfix
      div.severity
      div.title= entry.title
      div.author= entry.author
    div.lower.clearfix
      div.date= entry.createdString()
      div.text!= entry.text
