body {
  font-family:"Arial";
  font-size: 62.5%;
  margin: 50px;
}

.hidden {
  display: none;
}

.left {
  float:left;
}

.right {
  float:right;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.rule-condition-container {
  float: left;
  width: 6em;
}

.rule-values-container {
  margin-left: 6.5em;
}

.selector {
  display: inline-block;
  width: 10em;
}

.row {
  width: 98em;
}

.subscriptions-header {
  font-weight: bold;
}

.email-column {
  width: 26em;
  float:left;
}

.group-column {
  width: 60em;
  min-height: 1.8em;
  float: left;
}

.edit-column {
  width: 12em;
  float: right;
  text-align: left;
}

.email {
  width: 20em;
}

.remove-email {
  padding: 0em .5em;
}
